mixin slideShow(ciudad, title, slidesNumber, position)
	.sub_box4(id = ciudad, class = position)
		.bomba
			h3= title
			.btn2 CON&Oacute;CE M&Aacute;S
			img.icon(src="img/icon.png")

		.color_cover
		.slide_show

			- for (var counter = 1; counter <= slidesNumber; counter++) {
				.slide_destino(class="slide" + counter)
			- }

section#destinos.box
	.content
		+slideShow("stodgo", "Santo Domingo", 6, "leftbox")
		+slideShow("santiago", "Santiago", 5, "leftbox")
		+slideShow("vega", "La Vega", 6, "rightbox")
		+slideShow("bonao", "Bonao", 4, "rightbox")

		#btn_descubre Descubre el Carnaval