section#galeria.box
	.content
		h1.h_content Galería
		a#fil_prensa.filter.selected PRENSA
		br
		a#all.filter_2.selected_3
			| TODOS
			img(src="img/arrow.png")
		a#fil_santiago.filter_2
			| SANTIAGO
			img(src="img/arrow.png")
		a#fil_vega.filter_2
			| LA VEGA
			img(src="img/arrow.png")

	.content_2
		- for (var counter = 1; counter <= 8; counter++) {
			a.gallery_carnaval.prensa(href="img/gallery/rueda_prensa/prensa (" + counter + ").jpg")
				img(src="img/gallery/rueda_prensa_pv/prensa (" + counter + ").jpg" height="220")
		- }