section#home.box
	.all_content
		#menu
			a.social_networks#twitter(href="https://twitter.com/CervPresidente" target="_blank") t
			a.social_networks#facebook(href="https://www.facebook.com/cervezapresidente" target="_blank") f
			a.social_networks#instagram(href="http://instagram.com/cervpresidente" target="_blank") i
			a.social_networks#youtube(href="https://www.youtube.com/user/cervezapresidente" target="_blank") y
			.links
				a(href='#primer_carnaval') CARNAVAL PRESIDENTE 2015
				a(href='#destinos') DESTINOS
				a(href='#') GENERADOR DE TICKETS
				a(href='#galeria') GALER&Iacute;A

		.content
			h1.h_content Descubre <br/>el Carnaval Presidente
			p.h_content En algún lugar de República Dominicana, conviven la frescura y la creatividad. Estamos buscando coristas dispuestos a vivir la fantasía del Carnaval, como la primera vez.